Title: Start
NoContainer: true
---

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145723988-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-145723988-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Spectre Systems AB</title>

    <link rel="stylesheet" href="/assets/spectre/css/site.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300">

</head>
<body>
    <span class="container">
        <span class="container-content">
            <img id="logo" src="assets/spectre/images/logo.svg" />
            <span class="company-name">Spectre Systems AB</span>
            <a href="mailto:hello@spectresystems.se">hello@spectresystems.se</a><br /><br />
            <span>Org. number: 559097-6055</span><br />
            <span>VAT number: SE559097605501</span><br /><br />
            <div class="ghostly">
                <a href="/ghostly"><h3>Looking for Ghostly?</h1></a>
            </div>
        </span>
        </div>
</body>
</html>