Title: Release Notes
Order: 2
ShowRightSidebar: false
ShowEditLink: true
EditLink: https://github.com/spectresystems/ghostly/edit/master/release-notes.json
Description: Release notes for Ghostly
---

@{
    var definition = Context.Outputs
    .FromPipeline(nameof(ReleaseNotesPipeline))
    .First()
    .GetChildren("ReleaseNotes")
    .OfType<ObjectDocument<ReleaseNotes>>()
    .First().Object;
}

@foreach (var item in definition.Releases.OrderByDescending(x => x.Version))
{
    <h2>Ghostly @item.Version.ToString(3) <small class="float-right">@item.Date</small></h2>
    <table class="table table-borderless">
    <tbody>
    @foreach (var entry in item.Entries.OrderBy(x => x.Kind))
    {
        <tr>
            <td width="80" style="padding-left: 0;">
                @if(entry.Kind == "feature") {
                    <span class="badge badge-primary">New feature</span>
                }
                else if (entry.Kind == "improvement") {
                    <span class="badge badge-success">Improved</span>
                }
                else if (entry.Kind == "bug") {
                    <span class="badge badge-danger">Fixed</span>
                }
            </td>
            <td>@entry.Description</td>
        </tr>
    }
    </tbody>
    </table>

    <hr />
}
