Title: Start
NoContainer: true
DisableSubtitle: true
---
@section Splash {
    <div id="hero" class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="display-4 text-white text-center">Ghostly is a GitHub notification client for Windows 10</div>
        </div>
    </div>
}

<section class="white-bg" style="padding-top: 60px">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h1>Organize your work</h1>
                <h4>Don't lose track of what's important</h4>
                <p class="no-margin">
                    A lot of notifications can be overwhelming sometimes. Organize your
                    work by categorizing and filtering notifications just like you want to.
                </p>
            </div>
            <div class="col-7">
                <img src="/assets/ghostly/images/filters.png" width="100%" alt="">
            </div>
        </div>
    </div>
</section>

<section class="light-bg" style="padding-top: 60px">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <img src="/assets/ghostly/images/offline.png" width="100%" alt="">
            </div>
            <div class="col-5">
                <h1>Work Offline</h1>
                <p class="no-margin">
                    Ghostly is built with offline use as a first class citizen. Synchronize your notifications when you're online and continue using Ghostly like normal when you're offline.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="white-bg" style="padding-top: 60px">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h1>Powerful</h1>
                <p class="no-margin">
                    Keeping track of notifications for issues, PRs, vulnerabilities or releases have never been easier. Ghostly have built in support for things such as rules for incoming notifications, categories, filters and a powerful query language.
                </p>
            </div>
            <div class="col-7">
                <img src="/assets/ghostly/images/rules.png" width="100%" alt="">
            </div>
        </div>
    </div>
</section>

<section class="light-bg" style="padding-top: 60px">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <img src="/assets/ghostly/images/query.png" width="100%" alt="">
            </div>
            <div class="col-5">
                <h1>Built In Query Language</h1>
                <h4>Find What You're Looking For</h4>
                <p class="no-margin">
                    With a lot of notifications - even when categorized properly - it might sometimes be difficult to find that one thing that you're looking for. With the Ghostly query language, your notifications have never been easier to find.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="white-bg" style="padding-top: 60px">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h1>Theme Aware</h1>
                <p class="no-margin">
                    Whether you prefer a light or a dark theme, Ghostly got you covered. By default Ghostly respects your Windows theme, but you can easily override this in Ghostly's settings.
                </p>
            </div>
            <div class="col-7">
                <img src="/assets/ghostly/images/theme.png" width="100%" alt="">
            </div>
        </div>
    </div>
</section>